*{
    margin-top: 10px;
}
.task-list{
    margin: 15px 20px;
    list-style-type: none;
    border: 2px solid #00d5ff;
    width: 80%;
    height: 40px;
    padding: 0px 10px;
    display: flex;
    position: relative;
    align-items: center;
    color: rgb(255, 255, 255);
}
.icons{
    position: absolute;
    right: 10px;
    margin-bottom: 15px;
    cursor: pointer;
}
.icons:Hover{
    color: rgb(247, 44, 44);

}