*{
    margin: 0;
    padding: 0;
    font-family: 'Roboto', sans-serif;
}

.todo__div{
    padding: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
}
.todo__div input{
    padding: 10px;
    width: 20%;
}
.todo__div textarea{
    padding: 10px;
}
.todo__div button{
    padding: 10px;
    font-size: medium;
    font-weight: 600;
}
.todo__list{
    display: flex;
    flex-direction: column;
    gap: 10px;
    padding: 10px;
    height: calc(100vh - 85px);
    background-color: darkgray;
    margin-top: 20px;
}
.todo__list p{
   width: 100%;
}
.todoList__mainDiv{
    display: grid;
    margin: 10px;
   grid-template-columns: 1fr 1fr 1fr 1fr;
   gap: 10px;

}
.todo__item{
   display: flex;
   justify-content: space-between;
    padding: 10px;
    margin: 10px;
    border-radius: 5px;
    margin-bottom: 10px;
    box-shadow: 5px 5px 5px rgba(61, 59, 59, 0.2);
}
.todo__item span {
    list-style: none;
}
.todo__item button {
    height: 20px;
    padding: 10px;
    background: transparent;
    display: flex;
    cursor: pointer;
    align-items: center;
}
.todoList__div{
display: flex;
width: 100%;
flex-direction: column;
padding: 10px;
gap: 10px;
}
.todoButton__div{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px;
    max-height: 40px;
    font-weight: 400;
}